<!--<div class="main">-->
<!--    <h2>Account</h2>-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet augue urna.</p>-->
<!--</div>-->
<div class="centered main">
  <h1>Account</h1>
  <div id='currentUser' title='{{id}}'></div>
  <form id="updateAccountForm" action="/users/{{id}}">
    <label for="firstName">
      First Name
      <br />
      <input
        type="text"
        value={{{firstName}}}
        id="firstName"
        name="firstName"
      />
    </label>
    <br />
    <label for="lastName">
      Last Name
      <br />
      <input type="text" value={{{lastName}}} id="lastName" name="lastName" />
    </label>
    <br />
    <label for="dateOfBirth">
      Date of Birth
      <br />
      <input
        type="text"
        value={{{dateOfBirth}}}
        id="dateOfBirth"
        name="dateOfBirth"
      />
    </label>
    <br />
    <label for="username">
      Username
      <br />
      <input type="text" value={{{username}}} id="username" name="username" disabled/>
    </label>
    <br />
    <label for="email">
      Email
      <br />
      <input type="text" value="{{email}}" id="email" name="email" />
    </label>
    <br />
    <h2>Address</h2>
    <label for="street">
      Street
      <br />
      <input type="text" value="{{address.street}}" id="street" name="street" />
    </label>
    <br />
    <label for="aptNo">
      Apartment Number
      <br />
      <input type="text" value="{{address.aptNo}}" id="aptNo" name="aptNo" />
    </label>
    <br />
    <label for="zipCode">
      Zip Code
      <br />
      <input
        type="text"
        value="{{address.zipCode}}"
        id="zipCode"
        name="zipCode"
      />
    </label>
    <br />
    <label for="state">
      State
      <br />
      <input type="text" value="{{address.state}}" id="state" name="state" />
    </label>
    <br />
    <label for="town">
      Town
      <br />
      <input type="text" value="{{address.town}}" id="town" name="town" />
    </label>
    <br />
    <label for="country">
      Country
      <br />
      <input
        type="text"
        value="{{address.country}}"
        id="country"
        name="country"
        disabled
      />
    </label>
    <br />
    <br />
  </form>
  <div id="updateFormError">
    <ul id='errorList'></ul>
  </div>
  <button type="submit" class='updateAccountBtn'>Update Account</button>
      <br />
      <button type="button" id="deleteBtn">Delete Account</button>
  <a href="/users/signout">Sign Out</a>
</div>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
  crossorigin="anonymous"
></script>
<script src="/public/js/profile/account.js"></script>