<div class="centered main">
  <h1>My Active Jobs</h1>
  <div id="error"></div>
  {{#each activeJobs}}
    <h2>
      <a href="/jobs/{{jobID}}">{{jobTitle}}</a>
    </h2>
    <form action="/jobs/{{jobID}}" method="POST" class="editJobForm">
      <label for="jobTitlefor{{jobID}}">
        Job Title:
        <br />
        <input type="text" value="jobTitle" id="jobTitlefor{{jobID}}" name="jobTitle" />
      </label>
      <br />
      <label for="descriptionfor{{jobID}}">
        Description:
        <br />
        <input
          type="text"
          value="{{description}}"
          id="descriptionfor{{jobID}}"
          name="description"
        />
      </label>
      <br />
      {{#if perHour}}
        <label for="compensationfor{{jobID}}">
          Compensation:
          <br />
          $
          <input
            type="text"
            value={{compensation}}
            id="compensationfor{{jobID}}"
            name="compensation"
          />
          /hour
        </label>
        <br />
      {{else}}
        <label for="compensationfor{{jobID}}">
          Compensation:
          <br />
          $
          <input
            type="text"
            value={{compensation}}
            id="compensationfor{{jobID}}"
            name="compensation"
          />
        </label>
        <br />
      {{/if}}
      <label for="perHourfor{{jobID}}">
        Per Hour:
        {{#if perHour}}
          <input type="checkbox" checked id="perHourfor{{jobID}}" name="perHour" />
        {{else}}
          <input type="checkbox" id="perHourfor{{jobID}}" name="perHour" />
        {{/if}}

      </label>

      <br />
      <label for="datePostedfor{{jobID}}">
        Date Posted:
        <br />
        <input
          type="text"
          value="{{datePosted}}"
          id="datePostedfor{{jobID}}"
          name="datePosted"
          disabled
        />
      </label>
      <br />

      <button type="button" class="deleteBtn">Delete Job</button>
      <button type="submit">Edit Job</button>
      <input type="hidden" class="jobID" name="jobID" value={{jobID}} />
      <br />

    </form>

  {{/each}}
  <br />
</div>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
  crossorigin="anonymous"
></script>
<script src="/public/js/profile/activejobs.js"></script>