<div class="centered main">
    <h1>My Active Jobs</h1>
    {{#each activeJobs}}
        <div class="block">
            <div style="width:40%; height:100px; float:left; padding: 10px">
                <div>{{jobTitle}}</div>
                <div>{{datePosted}}</div>
                {{#if perHour}}
                    <div>${{compensation}}/hour</div>
                {{else}}
                    <div>${{compensation}}</div>
                {{/if}}
                <br>
            </div>
            <div style="width:30%; height:100px; float:left; padding: 10px">
                <button type="button" class="deleteBtn">Delete Job</button>
                <button type="button" class="editBtn">Edit Job</button>
                <input type="hidden" class="jobID" name="jobID" value={{jobID}}>
            </div>
        </div>

    {{/each}}
    <br>
</div>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"
></script>
<script src="/public/js/profile/activejobs.js"></script>