<div class="centered main">
    <h1>My Completed Jobs</h1>
    <h3>As Employee:</h3>
    {{#each jobsWorked}}
        <div class="block">
            <div style="width:40%; height:100px; float:left; padding: 10px">
                <div>{{jobTitle}}</div>
                <div>{{datePosted}}</div>
                {{#if perHour}}
                    <div>${{compensation}}/hour</div>
                {{else}}
                    <div>${{compensation}}</div>
                {{/if}}
                <br>
            </div>
            <div style="width:30%; height:100px; float:left; padding: 10px">
                <button type="button"><a class="prof-revlink" href="{{reviewLink}}">Leave a Review!</a></button>
            </div>
        </div>
    {{/each}}
    <h3>As Employer:</h3>
    {{#each jobsProvided}}
        <div class="block">
            <div style="width:40%; height:100px; float:left; padding: 10px">
                <div>{{jobTitle}}</div>
                <div>{{datePosted}}</div>
                {{#if perHour}}
                    <div>${{compensation}}/hour</div>
                {{else}}
                    <div>${{compensation}}</div>
                {{/if}}
                <br>
            </div>
            <div style="width:30%; height:100px; float:left; padding: 10px">
                <a class="prof-revlink" href="{{reviewLink}}"><button type="button">Leave a Review!</button></a>
            </div>
        </div>
    {{/each}}
    <br>
</div>