<div class="centered main">
    <h1>My In-Progress Jobs</h1>
    <h3>As Employee:</h3>
    {{#each jobsInProgressAsEmployee}}
        <div class="block">
            <div style="width:40%; height:100px; float:left; padding: 10px">
                <div>Job title:
                    <a href="/jobs/{{jobID}}">{{jobTitle}}</a>
                </div>
                <div>Date posted: {{datePosted}}</div>
                {{#if perHour}}
                    <div>Compensation: ${{compensation}}/hour</div>
                {{else}}
                    <div>Compensation: ${{compensation}}</div>
                {{/if}}
                <div>Employer:
                    <a href="/users/{{employerId}}">{{employerName}}</a>
                </div>
                <br>
            </div>
        </div>
    {{/each}}
    <h3>As Employer:</h3>
    {{#each jobsInProgressAsEmployer}}
        <div class="block">
            <div style="width:40%; height:100px; float:left; padding: 10px">
                <div>Job title:
                    <a href="/jobs/{{jobID}}">{{jobTitle}}</a>
                </div>
                <div>Date posted: {{datePosted}}</div>
                {{#if perHour}}
                    <div>Compensation: ${{compensation}}/hour</div>
                {{else}}
                    <div>Compensation: ${{compensation}}</div>
                {{/if}}
                <div>Employee:
                    <a href="/users/{{employeeId}}">{{employeeName}}</a>
                </div>
                <br>
            </div>
            <div style="width:30%; height:100px; float:left; padding: 10px">
                <button class="completeBtn" type="button">Mark as Completed</button>
                <input type="hidden" class="jobID" name="jobID" value={{jobID}}>
            </div>
        </div>
    {{/each}}
    <br>
</div>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"
></script>
<script src="/public/js/profile/inprogressjobs.js"></script>