<div class="centered main">
    <h1>Post a Job</h1>
    <form method="post" action="/jobs" id="newJobForm">
        <label for="title">
            Title
            <br>
            <input type="text" id="jobTitle">
        </label>
        <br>
        <label for="description">
            Description
            <br>
            <input type="text" id="jobDescription">
        </label>
        <br>
        <label for="compensation">
            Compensation
            <br>
            <input type="number" id="jobCompensation" placeholder="Ex. 400">
        </label>
        <br>
        <label for="perHour">
            Per Hour?
            <br>
            <input type="checkbox" id="jobperHour">
        </label>
        <br>
        <label for="street">
            Street
            <br>
            <input type="text" value="{{address.street}}" id="street">
        </label>
        <br>
        <label for="aptNo">
            Apartment Number
            <br>
            <input type="text" value="{{address.aptNo}}" id="aptNo">
        </label>
        <br>
        <label for="zipCode">
            Zip Code
            <br>
            <input type="text" value="{{address.zipCode}}" id="zipCode">
        </label>
        <br>
        <label for="state">
            State
            <br>
            <input type="text" value="{{address.state}}" placeholder="Ex. NJ" id="state">
        </label>
        <br>
        <label for="town">
            Town
            <br>
            <input type="text" value="{{address.town}}" id="town">
        </label>
        <br>
        <label for="country">
            Country
            <br>
            <input type="text" value="USA" id="country" disabled/>
        </label>
        <br>
        <button type="submit">Post Job</button>
        {{!-- TODO: Implement address change --}}
    </form>
    <div id='successDiv'></div>
    <div id="error">
    <ul id='errorList'></ul>
  </div>
</div>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"
></script>
<script src="/public/js/profile/postjob.js"></script>
