{{!-- assuming that im getting passed in an object called jobInfo containing
    object called job with fields same as in db proposal along w object poster;
    also going to clean up actual look but for now just getting fields listed --}}

{{!-- also maybe will put header in layouts/main.handlebars, but for now just
    putting in each file --}}

<header>
    <h1>Odjöb</h1>
    {{!-- this will have different text depending whether user is logged in or not --}}
    <a href="/users/signin">Sign In/Profile</a>
</header>
<h2>{{jobInfo.job.title}}</h2>
<div id="job-properties">
    <p>Description: {{jobInfo.job.description}}</p>
    {{#if job.perHour}}
        <p>Compensation: ${{jobInfo.job.compensation}}/hr</p>
    {{/if }}
    {{#else }}
        <p>Compensation: ${{jobInfo.job.compensation}}</p>
    {{/else }}
    <p>Date Posted: {{jobInfo.job.datePosted}}</p>
    <p>Location: {{jobInfo.job.address.town}}, {{jobInfo.job.address.state}}</p>
</div>
<div id=poster-info>
   <h3>{{jobInfo.poster.firstName}} {{jobInfo.poster.lastName}}</h3>
   <p>{{jobInfo.poster.username}}</p>
   <p>Rating: {{jobInfo.poster.averageRating}}</p>
</div>