<h2 class="job-page-title" id="{{data.job._id}}">{{data.job.title}}</h2>
<div id="job-properties">
    <p>Description: {{data.job.description}}</p>
    {{#if job.perHour}}
        <p>Compensation: ${{data.job.compensation}}/hr</p>
    {{/if }}
    {{#else }}
        <p>Compensation: ${{data.job.compensation}}</p>
    {{/else }}
    <p>Date Posted: {{data.job.datePosted}}</p>
    <p>Location: {{data.job.address.town}}, {{jobInfo.job.address.state}}</p>
    {{#ifEquals "active" data.job.status }}
        <button id="claim-button" type="button" formaction="/jobs/{{data.job._id}}">Claim Job</button>
    {{/ifEquals }}
    {{#ifEquals "in-progress" data.job.status }}
        <p id="job-claimed">Job has been claimed</p>
    {{/ifEquals}}
    {{#ifEquals "completed" data.job.status }}
        <p id="job-completed">Job has been completed</p>
    {{/ifEquals }}
</div>
<div id=poster-info>
    <h2>Posted By</h2>
   <h3>{{data.poster.firstName}} {{data.poster.lastName}}</h3>
   <h4><a id="to-poster-prof" href="/users/{{data.poster._id}}">{{data.poster.username}}</a></h4>
   <p>Average Rating: {{data.average}}</p>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/jobPage.js"></script>