<div class="split left">
  <div class="centered">
    <h1>{{{username}}}</h1>
    <form action="/users/{{id}}" method="POST">
      <label for="firstName">
        First Name
        <br>
        <input type="text" value={{{firstName}}} id="firstName" name="firstName">
      </label>
      <br>
      <label for="lastName">
        Last Name
        <br>
        <input type="text" value={{{lastName}}} id="lastName" name="lastName">
      </label>
      <br>
      <label for="dateOfBirth">
        Date of Birth
        <br>
        <input type="text" value={{{dateOfBirth}}} id="dateOfBirth" name="dateOfBirth">
      </label>
      <br>
      <label for="username">
        Username
        <br>
        <input type="text" value={{{username}}} id="username" name="username">
      </label>
      <br>
      <label for="email">
        Email
        <br>
        <input type="text" placeholder="{{email}}" id="email" name="email">
      </label>
      <br>
      <h3>Address</h3>
      <label for="street">
        Street
        <br>
        <input type="text" value="{{address.street}}" id="street" name="street">
      </label>
      <br>
      <label for="aptNo">
        Apartment Number
        <br>
        <input type="text" value="{{address.aptNo}}" id="aptNo" name="aptNo">
      </label>
      <br>
      <label for="zipCode">
        Zip Code
        <br>
        <input type="text" value="{{address.zipCode}}" id="zipCode" name="zipCode">
      </label>
      <br>
      <label for="state">
        State
        <br>
        <input type="text" value="{{address.state}}" id="state" name="state">
      </label>
      <br>
      <label for="town">
        Town
        <br>
        <input type="text" value="{{address.town}}" id="town" name="town">
      </label>
      <br>
      <label for="country">
        Country
        <br>
        <input type="text" value="{{address.country}}" id="country" name="country">
      </label>
      <br>
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <div id="newJobContainer">
      <button id="newJob" onclick="document.getElementById('newJobForm').hidden = false">Post New Job</button>
      <form method="post" action="/jobs" id="newJobForm" hidden>
        <label for="title">
          Title
          <br>
          <input type="text" id="jobTitle">
        </label>
        <br>
        <label for="description">
          Description
          <br>
          <input type="text" id="jobDescription">
        </label>
        <br>
        <label for="compensation">
          Compensation
          <br>
          <input type="text" id="jobCompensation">
        </label>
        <br>
        <label for="perHour">
          Hourly Pay
          <br>
          <input type="text" id="jobperHour">
        </label>
        <br>
        <label for="street">
          Street
          <br>
          <input type="text" value="{{address.street}}" id="street">
        </label>
        <br>
        <label for="aptNo">
          Apartment Number
          <br>
          <input type="text" value="{{address.aptNo}}" id="aptNo">
        </label>
        <br>
        <label for="zipCode">
          Zip Code
          <br>
          <input type="text" value="{{address.zipCode}}" id="zipCode">
        </label>
        <br>
        <label for="state">
          State
          <br>
          <input type="text" value="{{address.state}}" id="state">
        </label>
        <br>
        <label for="town">
          Town
          <br>
          <input type="text" value="{{address.town}}" id="town">
        </label>
        <br>
        <label for="country">
          Country
          <br>
          <input type="text" value="{{address.country}}" id="country">
        </label>
        <br>
        <button type="submit">Post Job</button>
        {{!-- TODO: Implement address change --}}
      </form>
    </div>
    <br>
    <h2>Edit Jobs</h2>
    {{#each jobs}}
    <form method="patch" action="/jobs">
      <label for="title">
        Title
        <br>
        <input type="text" value="{{{title}}}" id="jobTitle">
      </label>
      <br>
      <label for="description">
        Description
        <br>
        <input type="text" value="{{{description}}}" id="jobDescription">
      </label>
      <br>
      <label for="compensation">
        Compensation
        <br>
        <input type="text" value="${{{compensation}}}" id="jobCompensation">
      </label>
      <br>
      <label for="perHour">
        Hourly Pay
        <br>
        <input type="text" value="${{{perHour}}}" id="jobperHour">
      </label>
      <br>
      <label for="street">
        Street
        <br>
        <input type="text" value="{{address.street}}" id="street">
      </label>
      <br>
      <label for="aptNo">
        Apartment Number
        <br>
        <input type="text" value="{{address.aptNo}}" id="aptNo">
      </label>
      <br>
      <label for="zipCode">
        Zip Code
        <br>
        <input type="text" value="{{address.zipCode}}" id="zipCode">
      </label>
      <br>
      <label for="state">
        State
        <br>
        <input type="text" value="{{address.state}}" id="state">
      </label>
      <br>
      <label for="town">
        Town
        <br>
        <input type="text" value="{{address.town}}" id="town">
      </label>
      <br>
      <label for="country">
        Country
        <br>
        <input type="text" value="{{address.country}}" id="country">
      </label>
      <br>
      <button type="submit">Update Job</button>
    </form>
    <br>
    {{/each}}
    <h2>Reviews</h2>
    {{#each reviews}}
    <div class="revieweeName">{{revieweeId}}</div>
    <div>{{dateOfReview}}</div>
    <div>{{reviewDescription}}</div>
    <div>{{rating}}/5</div>
    <br>
    {{/each}}
    <br>

  </div>
</div>